body{
    background-color: rgb(19, 17, 17);
}
th{
    border: 2px solid black;
}
td{
    border: 2px solid black;
    height: 50px;
    width: 25%;
    
   
    
}

table{
    border-collapse: collapse ;
    width: 40%;
    margin-left: 20%;
    margin-top: 10%;
   
}
thead{
    background-color: rgb(48, 50, 58);
}

tbody{
    background-color: rgb(233, 236, 184);
    text-align: center;
}
tfoot{
    background-color: rgb(92, 83, 99);
    text-align: center;
}



